[% PROCESS nav.tt %]
<h1>View Article</h1>

<h2>[% record.subject %]</h2>

<p>[% record.formatted_body %]</p>
<hr>
[% IF record.tags %]
Tags: 
[% FOR tag = record.tags %]
[% tag.name %]
[% END %]
<br />
[% END %]
<a href="edit">Edit</a>

