<div id="[% tabnavid %]">
   <ul id="tabnav">
      <li id="tab1"><a href="/Admin/Article/create">Create</a></li>
      <li id="tab2"><a href="/Admin/Article/list">Articles</a></li>
      <li id="tab3"><a href="/Admin/User/list">Users</a></li>
      <li id="tab4"><a href="/Admin/Tag/list">Tags</a></li>
      <li id="tab5"><a href="/Admin/Page/list">Pages</a></li>
      <li id="tab6"><a href="/Admin/Link/list">Links</a></li>
   </ul>
</div>
